a {
    text-decoration: none;
}
body {
    background: #010101;
    font-family: sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.logo_line {
    width: 25px;
    height: 150px;
    background-color: #fff;
}
.logo_line:nth-child(2) {
    margin: 0 30px;
}
.logo_line:first-child,
.logo_line:last-child {
    margin-top: -60px;
}
.header_logo_title {
    font-size: 44px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Times New Roman", Times, serif;
}
.btn_square {
    width: 44px;
    height: 44px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.header .nav {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 999;
}

.loader-bg {
    background-color: rgb(37, 37, 37);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.loader-bg.active{
    opacity: 0;
    transition: 0.5s;
}
.loader-ring {
    width: 150px;
    height: 150px;
}
.loader-ring-light {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-box-shadow: 0 4px 0 #00abf2 inset;
    box-shadow: 0 4px 0 #00abf2 inset;
    -webkit-animation: rotate-360 2s linear infinite;
    animation: rotate-360 2s linear infinite;
}
.loader-ring-track {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    border-radius: 150px;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
}
@-webkit-keyframes rotate-360 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-360 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#rectangle {
    width: 300px;
    height: 50px;
    background-color: white;
    opacity: 0;
    transform: rotate(0deg);
    animation: fadeOutSpin2 2.5s;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
}

#rectangle2 {
    width: 300px;
    height: 50px;
    background-color: white;
    opacity: 0;
    transform: rotate(0deg);
    animation: fadeOutSpin 2.5s;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
}

@keyframes fadeOutSpin {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }
    to {
        opacity: 0;
        transform: rotate(90deg);
    }
}

@keyframes fadeOutSpin2 {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }
    to {
        opacity: 0;
        transform: rotate(-90deg);
    }
}

#rectangle {
    margin-right: 40px;
}

#rectangle2 {
    margin-left: 40px;
}

section {
    position: relative;
    background-color: #050505;
    padding: 50px 0;
    overflow: hidden;
}
.title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}
.about_card {
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: #111;
    color: #fff;
    padding: 20px 15px;
    width: 45%;
}
.about_card img {
    max-width: 150px;
    height: auto;
    margin-right: 15px;
}
.about_card_text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.end_card {
    display: flex;
    justify-content: flex-end;
}

.goal {
    background-color: #070707;
}
.goal_text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.about_lines {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.center_line {
    width: 10px;
    height: 70px;
    background-color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about .container {
        max-width: none;
        width: 100%;
        padding: 0 30px;
    }
    .about_card img {
        max-width: 100px;
    }
    .about_card_text {
        line-height: 20px;
    }
}
@media (max-width: 767px) {
    .about_card {
        width: 100%;
        margin-bottom: 30px;
        padding-right: 30px;
    }
    .end_card {
        justify-content: center;
    }
    .about_lines {
        display: none;
    }
    .goal_text {
        width: 100%;
    }
    #rectangle, #rectangle2{
        width: 150px;
        height: 30px;
    }
    #rectangle{
        margin-right: 20px;
    }
    #rectangle2{
        margin-left: 20px;
    }
}
